.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-full {
  width: 100%;
  flex: 1;
}

.chartCont {
	width: 100%;
	display: flex; 
	box-sizing: border-box;
	justify-content: space-between;
	padding: 50px;
}

.lineChart {
	width: 49%;
	height: auto;
}

.lineChart:last-child {padding-right: 0;}

@media only screen and (max-width: 760px) {
	.chartCont {flex-wrap: wrap;}
	.lineChart {width: 100%;}
}
